@font-face {
    font-family: 'interblack';
    src: url('inter-black-webfont.woff2') format('woff2'),
        url('inter-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f3f4f6;
}

p {
    font-family: 'interblack';
    margin: 0px;
}

.container {
    background-color: white;
    width: 60vw;
    height: 60vh;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.title {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0px;
    color: #2d3748;

}

.add-button {
    border-radius: 28px;
    background-color: #2563eb;
    color: white;
    font-weight: 900;
    border: 0px solid transparent;
    width: 20%;
    height: 10%;
    font-size: 20px;
}

.add-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
}


.book-wrapper {
    display: grid;


}

.book-item {
    background-color: #f3f4f6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border: 2px solid #e5e7eb;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.remove {
    all: unset;
    cursor: pointer;
    color: #ef4444;
    font-size: 20px;
    align-self: flex-end;
    font-weight: 900;

}

.remove:hover {
    transition: all 0.2s ease;
    color: #b91c1c;
    cursor: pointer;
}

.status {
    text-align: center;
    border-radius: 24px;
    width: 50%;
    font-weight: 900;
}

.status[data-status="read"] {
    background-color: #dcfce7;
    color: #166534;

}

.status[data-status="to-read"] {
    background-color: #fef9c3;
    color: #854d09;
}

.status:hover {
    cursor: pointer;
}

.pages {
    font-size: 25px;
    color: #b1b1b1;
}

.author {
    font-size: 30px;
    color: #4a5568;
}

.book-title {
    color: #2d3748;
    font-size: 2vw;
    font-weight: 700;
    font-style: italic;
}